In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('./kaggle/input/spaceship-titanic/train_update.csv')
df01 = pd.read_csv('./kaggle/input/spaceship-titanic/train.csv')

In [25]:
df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Cabin_num',
       'Cabin_port', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported'],
      dtype='object')

In [39]:
# vip 확인
# df[df['VIP']==1]
not_vip = 199
df[df['VIP']==1].groupby('Spa').count()
user = df[df['VIP']==1].groupby('Spa').count().loc[0][0]
user/not_vip*100

,PassengerId,HomePlanet,CryoSleep,Cabin,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,VRDeck,Name,Transported
Spa,,,,,,,,,,,,,,,
0,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76
1,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5577,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5700,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6715,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
8157,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
13902,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

38.19095477386934

### VIP
vip와 vip가 아닌 경우에 서비스 이용률
1. not vip
    - RoomService : 63.0
    - FoodCourt : 62.1
    - ShoppingMall : 64.1
    - Spa : 60.3
    - VRDeck : 62.3
2. vip
    - RoomService: 49.7
    - FoodCourt : 33.6
    - ShoppingMall : 54.2
    - Spa : 38.1
    - VRDeck : 38.6