In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('./kaggle/input/spaceship-titanic/train_update.csv')

In [3]:
df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin_A', 'Cabin_B',
       'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_T',
       'Cabin_num', 'Cabin_port', 'Destination', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'TotalSpend', 'Name',
       'Transported'],
      dtype='object')

In [11]:
# A등급실
# df.loc[(df['HomePlanet']==0) & (df['Cabin_A'] ==1 )]
df.loc[(df['HomePlanet']==1) & (df['Cabin_A'] ==1 )]
# df.loc[(df['HomePlanet']==2) & (df['Cabin_A'] ==1 )]

,PassengerId,HomePlanet,CryoSleep,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,...,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpend,Name,Transported
2,0003_01,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,10383.0,Altark Susent,0.0
3,0003_02,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,5176.0,Solam Susent,0.0
41,0056_01,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Okulas Tractive,1.0
42,0056_02,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,38.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Instab Tractive,1.0
43,0056_03,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27.0,0.0,279.0,605.0,3374.0,286.0,3.0,4547.0,Zinoces Tractive,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8158,6413_01,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,65.0,0.0,0.0,1420.0,1277.0,85.0,827.0,3609.0,Grasath Undrude,0.0
8225,3204_01,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26.0,0.0,4672.0,1653.0,7.0,227.0,1457.0,8016.0,Sadra Wirdley,0.0
8249,5469_01,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,31.0,0.0,1172.0,0.0,0.0,0.0,0.0,1172.0,Keidhma Subateful,1.0
8279,7431_01,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,31.0,0.0,2014.0,2954.0,0.0,170.0,756.0,5894.0,Altanin Barmant,0.0
8323,1294_03,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,28.0,1.0,1889.0,0.0,736.0,0.0,0.0,2625.0,Dscheat Gulcepusy,0.0

In [13]:
# B등급실
# df.loc[(df['HomePlanet']==0) & (df['Cabin_B'] ==1 )]
# df.loc[(df['HomePlanet']==1) & (df['Cabin_B'] ==1 )]
df.loc[(df['HomePlanet']==2) & (df['Cabin_B'] ==1 )]

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin_A, Cabin_B, Cabin_C, Cabin_D, Cabin_E, Cabin_F, Cabin_G, Cabin_T, Cabin_num, Cabin_port, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, TotalSpend, Name, Transported]
Index: []

[0 rows x 24 columns]

In [14]:
# C등급실
df.loc[(df['HomePlanet']==0) & (df['Cabin_C'] ==1 )]
df.loc[(df['HomePlanet']==1) & (df['Cabin_C'] ==1 )]
df.loc[(df['HomePlanet']==2) & (df['Cabin_C'] ==1 )]

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin_A, Cabin_B, Cabin_C, Cabin_D, Cabin_E, Cabin_F, Cabin_G, Cabin_T, Cabin_num, Cabin_port, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, TotalSpend, Name, Transported]
Index: []

[0 rows x 24 columns]

,PassengerId,HomePlanet,CryoSleep,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,...,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpend,Name,Transported
24,0026_01,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,34.0,0.0,22.0,6073.0,0.0,1438.0,328.0,7861.0,Anyoni Unconary,0.0
58,0074_01,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,42.0,0.0,1.0,8397.0,0.0,0.0,506.0,8904.0,Aldibah Mostedry,1.0
61,0078_01,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,38.0,0.0,0.0,5840.0,0.0,321.0,9654.0,15815.0,Spuri Pokerheed,0.0
67,0085_01,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Furudah Ellcefulve,1.0
104,0139_01,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Charda Myling,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8434,6921_02,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,24.0,0.0,0.0,0.0,0.0,1793.0,0.0,1793.0,Eleron Fordulgaug,1.0
8451,7905_02,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,48.0,0.0,0.0,0.0,0.0,1793.0,0.0,1793.0,Menkibi Axlentindy,1.0
8467,8928_01,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,52.0,0.0,0.0,0.0,0.0,1793.0,0.0,1793.0,Meisam Hoodjuded,1.0
8481,7314_01,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,33.0,0.0,0.0,0.0,0.0,1793.0,0.0,1793.0,Aldun Venticable,1.0
8487,9197_04,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,30.0,0.0,1569.0,2999.0,0.0,6282.0,2252.0,13102.0,Phecca Platch,0.0

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin_A, Cabin_B, Cabin_C, Cabin_D, Cabin_E, Cabin_F, Cabin_G, Cabin_T, Cabin_num, Cabin_port, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, TotalSpend, Name, Transported]
Index: []

[0 rows x 24 columns]

In [15]:
# D등급실
df.loc[(df['HomePlanet']==0) & (df['Cabin_D'] ==1 )]
df.loc[(df['HomePlanet']==1) & (df['Cabin_D'] ==1 )] # 192
df.loc[(df['HomePlanet']==2) & (df['Cabin_D'] ==1 )] # 286

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin_A, Cabin_B, Cabin_C, Cabin_D, Cabin_E, Cabin_F, Cabin_G, Cabin_T, Cabin_num, Cabin_port, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, TotalSpend, Name, Transported]
Index: []

[0 rows x 24 columns]

,PassengerId,HomePlanet,CryoSleep,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,...,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpend,Name,Transported
29,0034_01,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,28.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Ziba Oingwhedly,1.0
91,0116_01,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,33.0,0.0,1.0,2223.0,0.0,12.0,404.0,2640.0,Alhenah Suptive,1.0
203,0275_01,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Terf Obnoble,1.0
219,0291_01,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,40.0,0.0,0.0,6500.0,88.0,1090.0,0.0,7678.0,Castab Brakeril,1.0
345,0458_01,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,28.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Zanin Bedectical,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8369,2524_01,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,27.0,0.0,0.0,0.0,0.0,1793.0,0.0,1793.0,Ashir Witeronfus,1.0
8406,5199_01,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,35.0,0.0,0.0,725.0,3415.0,8607.0,1.0,12748.0,Luxonon Cuplial,0.0
8410,5422_01,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,26.0,0.0,0.0,0.0,0.0,1793.0,0.0,1793.0,Pleion Sperap,1.0
8441,7351_01,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,36.0,0.0,0.0,0.0,0.0,1793.0,0.0,1793.0,Sularon Loring,1.0
8447,7576_02,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,39.0,0.0,2.0,530.0,0.0,3919.0,1360.0,5811.0,Skyrmak Alenat,0.0

,PassengerId,HomePlanet,CryoSleep,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,...,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpend,Name,Transported
22,0022_01,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,21.0,0.0,980.0,2.0,69.0,0.0,0.0,1051.0,NaN,0.0
30,0035_01,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,23.0,0.0,784.0,964.0,0.0,951.0,0.0,2699.0,Luse Butte,0.0
57,0073_01,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,37.0,0.0,46.0,83.0,738.0,0.0,12.0,879.0,Gorn Make,0.0
82,0107_01,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,21.0,0.0,1743.0,5.0,17.0,0.0,0.0,1765.0,Coobix Hart,0.0
97,0128_01,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,61.0,1.0,2353.0,334.0,9.0,316.0,2.0,3014.0,Grohs Fles,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8387,3714_02,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,33.0,0.0,33.0,397.0,354.0,9615.0,0.0,10399.0,Cowl Harta,0.0
8461,8406_01,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,21.0,0.0,1214.0,179.0,566.0,9615.0,619.0,12193.0,Beal Merte,0.0
8469,9132_01,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,31.0,0.0,2575.0,1.0,2.0,9019.0,0.0,11597.0,Macon Ancy,0.0
8478,2778_01,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,35.0,0.0,2301.0,0.0,414.0,7259.0,0.0,9974.0,Gorice Fisty,1.0
8484,7338_01,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,42.0,0.0,1318.0,0.0,1386.0,7794.0,65.0,10563.0,Jumars Colte,0.0

In [17]:
# E등급실
df.loc[(df['HomePlanet']==0) & (df['Cabin_E'] ==1 )] # 406
df.loc[(df['HomePlanet']==1) & (df['Cabin_E'] ==1 )] # 132
df.loc[(df['HomePlanet']==2) & (df['Cabin_E'] ==1 )] # 338

,PassengerId,HomePlanet,CryoSleep,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,...,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpend,Name,Transported
17,0020_01,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Almary Brantuarez,0.0
18,0020_02,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,49.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Glendy Brantuarez,0.0
19,0020_04,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Breney Jacostanley,1.0
20,0020_05,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Mael Brantuarez,0.0
21,0020_06,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Terta Mcfaddennon,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8411,5431_01,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,33.0,0.0,2.0,0.0,0.0,1933.0,720.0,2655.0,Joycey Wheelez,1.0
8414,5540_01,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,21.0,0.0,39.0,360.0,0.0,2159.0,0.0,2558.0,Berly Andackson,1.0
8425,6366_01,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,16.0,0.0,0.0,0.0,99.0,7449.0,774.0,8322.0,Veremy Benderez,1.0
8426,6396_01,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,31.0,0.0,0.0,243.0,0.0,4235.0,0.0,4478.0,Josey Mandez,0.0
8443,7442_01,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,43.0,0.0,20.0,0.0,726.0,9138.0,0.0,9884.0,Antony Morrencis,0.0

,PassengerId,HomePlanet,CryoSleep,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,...,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpend,Name,Transported
87,0111_01,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Aldera Supred,1.0
197,0260_01,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,26.0,0.0,0.0,4810.0,0.0,981.0,2054.0,7845.0,Segino Inderly,0.0
210,0285_01,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Krabik Invebodene,1.0
211,0285_02,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Grasath Invebodene,1.0
223,0304_01,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,28.0,0.0,0.0,422.0,0.0,1851.0,5166.0,7439.0,Betena Ausivetpul,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8265,6674_02,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,32.0,0.0,1172.0,0.0,0.0,0.0,0.0,1172.0,Meron Slowatic,1.0
8293,8729_02,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,20.0,0.0,4672.0,7759.0,18.0,4925.0,12685.0,30059.0,Charda Rewmid,0.0
8334,0501_01,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,42.0,0.0,0.0,929.0,967.0,7443.0,481.0,9820.0,Hadirk Spedlybood,0.0
8354,1843_01,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,46.0,0.0,2249.0,153.0,137.0,9872.0,194.0,12605.0,Saxinon Unaasor,0.0
8381,3210_01,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,17.0,0.0,454.0,19.0,0.0,7210.0,3219.0,10902.0,Charda Heeroling,0.0

,PassengerId,HomePlanet,CryoSleep,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,...,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpend,Name,Transported
52,0068_01,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,26.0,0.0,793.0,0.0,2.0,253.0,0.0,1048.0,Cinst Binie,0.0
69,0088_01,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Stmeal Sacre,1.0
96,0127_01,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,35.0,0.0,701.0,0.0,296.0,0.0,25.0,1022.0,Miloss Mesty,0.0
98,0128_02,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,45.0,0.0,2103.0,6.0,0.0,0.0,0.0,2109.0,Barave Fles,0.0
168,0221_01,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,21.0,0.0,2237.0,0.0,119.0,0.0,0.0,2356.0,Cowhex Blan,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8353,1785_01,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,31.0,0.0,0.0,0.0,0.0,1953.0,0.0,1953.0,Miten Kniva,0.0
8359,2228_01,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,63.0,0.0,1172.0,0.0,1.0,7090.0,0.0,8263.0,Basps Rasty,0.0
8378,3048_01,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,1953.0,0.0,1953.0,Mitch Canie,0.0
8400,4808_01,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,27.0,0.0,665.0,631.0,1.0,7984.0,0.0,9281.0,Chreet Flart,0.0
8462,8494_01,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,42.0,0.0,770.0,0.0,1301.0,7259.0,0.0,9330.0,Cines Bota,1.0

In [18]:
# F등급실
df.loc[(df['HomePlanet']==0) & (df['Cabin_F'] ==1 )] # 1600
df.loc[(df['HomePlanet']==1) & (df['Cabin_F'] ==1 )] # 0
df.loc[(df['HomePlanet']==2) & (df['Cabin_F'] ==1 )] # 1143

,PassengerId,HomePlanet,CryoSleep,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,...,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpend,Name,Transported
1,0002_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,24.0,0.0,109.0,9.0,25.0,549.0,44.0,736.0,Juanna Vines,1.0
4,0004_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,16.0,0.0,303.0,70.0,151.0,565.0,2.0,1091.0,Willy Santantines,1.0
5,0005_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,44.0,0.0,0.0,483.0,0.0,291.0,0.0,774.0,Sandie Hinetthews,1.0
6,0006_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,26.0,0.0,42.0,1539.0,3.0,0.0,0.0,1584.0,Billex Jacostaffey,1.0
7,0007_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,35.0,0.0,0.0,785.0,17.0,216.0,0.0,1018.0,Andona Beston,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8475,3315_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,15.0,0.0,10.0,0.0,99.0,8282.0,2031.0,10422.0,NaN,0.0
8482,4550_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,28.0,0.0,0.0,180.0,516.0,5186.0,968.0,6850.0,Ebonyd Sotond,1.0
8489,8906_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,19.0,0.0,720.0,2.0,76.0,11403.0,0.0,12201.0,Rena Gainney,0.0
8491,2901_02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,24.0,0.0,1886.0,2.0,25.0,8427.0,707.0,11047.0,Loisey Vandez,1.0
8493,7137_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,23.0,0.0,1886.0,134.0,482.0,9872.0,27.0,12401.0,Gabrin Duffmaney,0.0

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin_A, Cabin_B, Cabin_C, Cabin_D, Cabin_E, Cabin_F, Cabin_G, Cabin_T, Cabin_num, Cabin_port, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, TotalSpend, Name, Transported]
Index: []

[0 rows x 24 columns]

,PassengerId,HomePlanet,CryoSleep,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,...,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpend,Name,Transported
10,0009_01,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,32.0,0.0,73.0,0.0,1123.0,0.0,113.0,1309.0,Berers Barne,1.0
14,0016_01,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Alus Upead,1.0
25,0028_01,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,43.0,0.0,1125.0,0.0,136.0,48.0,0.0,1309.0,Ceros Mare,0.0
27,0031_01,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,47.0,0.0,214.0,0.0,1411.0,0.0,1229.0,2854.0,Coobix Datie,1.0
28,0031_02,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cinets Datie,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8465,8667_01,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,20.0,0.0,733.0,0.0,455.0,7821.0,0.0,9009.0,Koat Kad,0.0
8471,9151_01,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,19.0,0.0,0.0,0.0,0.0,1039.0,0.0,1039.0,Pok Min,1.0
8472,9222_01,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,50.0,0.0,0.0,0.0,0.0,1039.0,0.0,1039.0,Carves Chate,1.0
8483,5322_01,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,22.0,0.0,0.0,0.0,0.0,1032.0,54.0,1086.0,Allift Parté,1.0
8486,8272_03,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,29.0,0.0,0.0,244.0,0.0,317.0,0.0,561.0,Plat Fache,1.0

In [19]:
# G등급실
df.loc[(df['HomePlanet']==0) & (df['Cabin_G'] ==1 )] # 2559
df.loc[(df['HomePlanet']==1) & (df['Cabin_G'] ==1 )] # 
df.loc[(df['HomePlanet']==2) & (df['Cabin_G'] ==1 )] #

,PassengerId,HomePlanet,CryoSleep,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,...,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpend,Name,Transported
11,0010_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,48.0,0.0,719.0,1.0,65.0,0.0,24.0,809.0,Reney Baketton,0.0
15,0017_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Lyde Brighttt,1.0
26,0030_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,32.0,0.0,0.0,850.0,81.0,437.0,453.0,1821.0,Ginia Morsentley,0.0
32,0041_01,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Margia Moodsey,1.0
34,0044_01,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Jodye Coopelandez,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8476,5157_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,40.0,0.0,814.0,12.0,2.0,5869.0,79.0,6776.0,Melia Gardsondez,1.0
8477,0903_01,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,23.0,0.0,0.0,0.0,0.0,3439.0,0.0,3439.0,Nelley Rushorney,0.0
8479,2252_01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,37.0,0.0,0.0,1368.0,0.0,4012.0,960.0,6340.0,Ernard Willy,0.0
8480,8306_03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,41.0,0.0,836.0,0.0,0.0,3271.0,49.0,4156.0,Bonya Hardonald,0.0
8488,3790_01,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,13.0,0.0,0.0,269.0,0.0,1256.0,0.0,1525.0,Trick Meyersones,1.0

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin_A, Cabin_B, Cabin_C, Cabin_D, Cabin_E, Cabin_F, Cabin_G, Cabin_T, Cabin_num, Cabin_port, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, TotalSpend, Name, Transported]
Index: []

[0 rows x 24 columns]

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin_A, Cabin_B, Cabin_C, Cabin_D, Cabin_E, Cabin_F, Cabin_G, Cabin_T, Cabin_num, Cabin_port, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, TotalSpend, Name, Transported]
Index: []

[0 rows x 24 columns]

In [22]:
# T등급실
df.loc[(df['HomePlanet']==0) & (df['Cabin_T'] ==1 )] # 0
df.loc[(df['HomePlanet']==1) & (df['Cabin_T'] ==1 )] # 24
df.loc[(df['HomePlanet']==2) & (df['Cabin_T'] ==1 )] # 0

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin_A, Cabin_B, Cabin_C, Cabin_D, Cabin_E, Cabin_F, Cabin_G, Cabin_T, Cabin_num, Cabin_port, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, TotalSpend, Name, Transported]
Index: []

[0 rows x 24 columns]

,PassengerId,HomePlanet,CryoSleep,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,...,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpend,Name,Transported
1787,2414_01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,42.0,0.0,0.0,1829.0,2.0,3133.0,2447.0,7411.0,Mergak Headfair,0.0
2165,2935_01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,33.0,0.0,0.0,28.0,0.0,6841.0,543.0,7412.0,NaN,0.0
2187,2971_01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,38.0,0.0,0.0,3135.0,0.0,26.0,3.0,3164.0,Pent Sessiouse,1.0
7015,1071_01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,35.0,0.0,415.0,1328.0,0.0,14.0,60.0,1817.0,Alraida Dingauge,0.0
8155,4863_01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,37.0,0.0,1721.0,667.0,1375.0,28.0,1362.0,5153.0,Phacton Unsible,0.0

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin_A, Cabin_B, Cabin_C, Cabin_D, Cabin_E, Cabin_F, Cabin_G, Cabin_T, Cabin_num, Cabin_port, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, TotalSpend, Name, Transported]
Index: []

[0 rows x 24 columns]

In [55]:
mars1 = a_mars = len(df.loc[(df['HomePlanet']==1) & (df['Cabin_A'] ==1 )])
vip1 = a_mars_vip = len(df.loc[(df['HomePlanet']==1) & (df['Cabin_A'] ==1 ) & (df['VIP'] ==1 )])

mars2 =  b_mars = len(df.loc[(df['HomePlanet']==1) & (df['Cabin_B'] ==1 )])
vip2 =  b_mars_vip = len(df.loc[(df['HomePlanet']==1) & (df['Cabin_B'] ==1 ) & (df['VIP'] ==1 )])

mars3 =  c_mars = len(df.loc[(df['HomePlanet']==1) & (df['Cabin_C'] ==1 )])
vip3 =  c_mars_vip = len(df.loc[(df['HomePlanet']==1) & (df['Cabin_C'] ==1 ) & (df['VIP'] ==1 )])

mars4 = d_mars = len(df.loc[(df['HomePlanet']==1) & (df['Cabin_D'] ==1 )])
vip4 = d_mars_vip = len(df.loc[(df['HomePlanet']==1) & (df['Cabin_D'] ==1 ) & (df['VIP'] ==1 )])

mars5 = e_mars = len(df.loc[(df['HomePlanet']==1) & (df['Cabin_E'] ==1 )])
vip5 = e_mars_vip = len(df.loc[(df['HomePlanet']==1) & (df['Cabin_E'] ==1 ) & (df['VIP'] ==1 )])

mars6 = t_mars = len(df.loc[(df['HomePlanet']==1) & (df['Cabin_E'] ==1 )])
vip6 = t_mars_vip = len(df.loc[(df['HomePlanet']==1) & (df['Cabin_E'] ==1 ) & (df['VIP'] ==1 )])

print(vip1/mars1)
print(vip2/mars2)
print(vip3/mars3)
print(vip4/mars4)
print(vip5/mars5)
print(vip6/mars6)

len(df.loc[(df['Cabin_A'] ==1 ) & (df['VIP'] ==1 )])
len(df.loc[(df['VIP'] == 1 )])

0.13671875
0.05391527599486521
0.05488621151271754
0.041666666666666664
0.015151515151515152
0.015151515151515152

35

193

AttributeError: 'Series' object has no attribute 'value_count'

In [46]:
ero1 = a_mars = len(df.loc[(df['HomePlanet']==2) & (df['Cabin_A'] ==1 )])
vip1 = a_mars_vip = len(df.loc[(df['HomePlanet']==2) & (df['Cabin_A'] ==1 ) & (df['VIP'] ==1 )])

ero2 =  b_mars = len(df.loc[(df['HomePlanet']==2) & (df['Cabin_B'] ==1 )])
vip2 =  b_mars_vip = len(df.loc[(df['HomePlanet']==2) & (df['Cabin_B'] ==1 ) & (df['VIP'] ==1 )])

ero3 =  c_mars = len(df.loc[(df['HomePlanet']==2) & (df['Cabin_C'] ==1 )])
vip3 =  c_mars_vip = len(df.loc[(df['HomePlanet']==2) & (df['Cabin_C'] ==1 ) & (df['VIP'] ==1 )])

ero4 = d_mars = len(df.loc[(df['HomePlanet']==2) & (df['Cabin_D'] ==1 )])
vip4 = d_mars_vip = len(df.loc[(df['HomePlanet']==2) & (df['Cabin_D'] ==1 ) & (df['VIP'] ==1 )])

ero5 = e_mars = len(df.loc[(df['HomePlanet']==2) & (df['Cabin_E'] ==1 )])
vip5 = e_mars_vip = len(df.loc[(df['HomePlanet']==2) & (df['Cabin_E'] ==1 ) & (df['VIP'] ==1 )])

ero6 = t_mars = len(df.loc[(df['HomePlanet']==2) & (df['Cabin_E'] ==1 )])
vip6 = t_mars_vip = len(df.loc[(df['HomePlanet']==2) & (df['Cabin_E'] ==1 ) & (df['VIP'] ==1 )])

# print(vip1/ero1)
# print(vip2/ero2)
# print(vip3/ero3)
print(vip4/ero4)
print(vip5/ero5)
print(vip6/ero6)

0.08041958041958042
0.038461538461538464
0.038461538461538464

In [61]:
a = len(df.loc[(df['CryoSleep']==0) & (df['HomePlanet']==1) & (df['Cabin_A'] ==1 ) & (df['VIP'] ==1 )])
adied = len(df.loc[(df['CryoSleep']==0) & (df['HomePlanet']==1) & (df['Cabin_A'] ==1 ) & (df['VIP'] ==1 ) & (df['Transported'] ==0 )])
adied/a

b = len(df.loc[(df['CryoSleep']==0) & (df['HomePlanet']==1) & (df['Cabin_B'] ==1 ) & (df['VIP'] ==1 )])
bdied = len(df.loc[(df['CryoSleep']==0) & (df['HomePlanet']==1) & (df['Cabin_B'] ==1 ) & (df['VIP'] ==1 ) & (df['Transported'] ==0 )])
bdied/b

0.71875

0.5714285714285714

In [56]:
df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin_A', 'Cabin_B',
       'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_T',
       'Cabin_num', 'Cabin_port', 'Destination', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'TotalSpend', 'Name',
       'Transported'],
      dtype='object')